@use 'sass:map';
@use '@angular/material/index' as mat;

// Lords Theme Palettes
$_palettes: (
    primary: (
        0: #000000,
        10: #2a2100,
        20: #4d3b00,
        25: #5f4800,
        30: #715500,
        35: #856300,
        40: #997100,
        50: #b78a00,
        60: #d5a300,
        70: #f3bc00,
        80: #ffcf33,
        90: #ffe790,
        95: #fff3cc,
        98: #fffbea,
        99: #fffef5,
        100: #ffffff,
    ),
    tertiary: (
        0: #000000,
        10: #1a1a1a,
        20: #292929,
        25: #333333,
        30: #3d3d3d,
        35: #484848,
        40: #555555,
        50: #6e6e6e,
        60: #888888,
        70: #a3a3a3,
        80: #bfbfbf,
        90: #dcdcdc,
        95: #ebebeb,
        98: #f9f9f9,
        99: #fcfcfc,
        100: #ffffff,
    ),
    neutral: (
        0: #000000,
        10: #121212,
        20: #1e1e1e,
        30: #2a2a2a,
        40: #363636,
        50: #4a4a4a,
        60: #666666,
        70: #828282,
        80: #9e9e9e,
        90: #bbbbbb,
        95: #e0e0e0,
        98: #f5f5f5,
        99: #fafafa,
        100: #ffffff,
        4: #0e0e0e,
        6: #141313,
        12: #201f1f,
        17: #2b2a2a,
        22: #353434,
        24: #3a3939,
        87: #ddd9d8,
        92: #ebe7e6,
        94: #f1edec,
        96: #f7f3f2,
    ),
    neutral-variant: (
        0: #000000,
        10: #191c1d,
        20: #2d3132,
        25: #383c3d,
        30: #444748,
        35: #505354,
        40: #5b5f60,
        50: #747878,
        60: #8e9192,
        70: #a9acac,
        80: #c4c7c7,
        90: #e0e3e3,
        95: #eff1f1,
        98: #f7fafa,
        99: #fafdfd,
        100: #ffffff,
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
);

// Common tokens (used in all palettes)
$_rest: (
    secondary: map.get($_palettes, tertiary),
    error: map.get($_palettes, error),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
);

// Final palettes for use in mat.theme()
$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
