.join-form {
    display: flex;
    justify-content: center;

    .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;

        label {
            margin-bottom: 8px;
        }
    }
}

.application-type-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;

    .radio-button {
        margin: 5px;
    }
}
