<section class="row row-cols-1 join-form">
    <section class="col">
        <div class="field">
            <label>Please choose application type: (Required)</label>
            <div class="mb-4">
                <mat-radio-group class="application-type-radio-group">
                    <mat-radio-button value="new">Join Regiment</mat-radio-button>
                    <mat-radio-button value="returning">Regiment Representative</mat-radio-button>
                    <mat-radio-button value="other">Mercenary</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </section>

    <section class="col">
        <div class="field">
            <label>What is your in-game name?</label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </section>
    <section class="col">
        <div class="field">
            <label>What is your current regiment?</label>
            <mat-form-field appearance="outline">
                <input matInput >
            </mat-form-field>
        </div>
    </section>
    <section class="col">
        <div class="field">
            <label>How did you find or hear about the Lords of Holdfast?</label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </section>

    <section class="col">
        <div class="field">
            <label>What are your preferred classes?</label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </section>

    <section class="col">
        <div class="field">
            <label>What skills do you want to learn or improve upon?</label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </section>

    <section class="col">
        <div class="field">
            <label>Are you interested in joining the Lords of Holdfast? If so, be sure to also enlist to the regiment in-game.</label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </section>
</section>
