<!-- Landing Section -->
<section class="section bg-1">
    <img src="assets/images/logos/text-logo-1000.png" alt="Logo" class="hero-logo mb-5"/>

    <button mat-raised-button class="hero-button mt-5 px-5 py-4">
        Join Now
    </button>
</section>

<!--About Section-->
<section class="section">
    <h1 class="primary-font fw-bold mb-0 text-content">About Regiment & Game</h1>
    <flourish-divider class="my-5"></flourish-divider>

    <p class="text-content fs-2">
        The Lord Regiment is a community built on honor,
        discipline, and brotherhood. We play <u><b>Holdfast: Nations At War</b></u>,
        a Napoleonic-era game focused on line battles, teamwork, and historical immersion.
    </p>
</section>

<!-- Why Join Section -->
<section class="section bg-2">
    <h1 class="primary-font fw-bold mb-0 text-content">Why Join Us?</h1>
    <flourish-divider class="my-5"></flourish-divider>

    <p class="text-content fs-2 text-start">
        📅 Public servers <br>
        🌍 International members <br>
        🛡️ Respectful & friendly community <br>
        🧠 Tactical gameplay & training <br>
        🎮 Veteran-friendly & beginner-friendly <br>
    </p>
</section>

<section class="container py-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h2 class="primary-font">{{REGIMENT_TITLE}}</h2>
            <div matRipple class="footer-button rounded-pill my-4">
                <img src="assets/images/logos/discord-logo.png" alt="Discord Logo" class="footer-logo">
            </div>
        </div>
        <div class="col">
            <h2 class="primary-font">Important LInk</h2>
            <ul class="my-4">
                <li><a class="text-decoration-none text-white" href="#">Code Of Conduct</a></li>
                <li><a class="text-decoration-none text-white" href="#">Rules</a></li>
            </ul>
        </div>
    </div>
</section>
