
@use '../../../styles' as styles;
@use '../../../styles/theme-colors' as *;

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

    padding: 2rem 0;
}


.bg-1, .bg-2 {
    position: relative; // ✅ This is required
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        filter: blur(2px);
        transform: scale(1.01); // to avoid edge clipping from blur
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    > * {
        position: relative;
        z-index: 3;
    }

}

.bg-1 {
    background-image: url('/assets/images/backgrounds/bg-1.jpg');
}
.bg-2 {
    background-image: url('/assets/images/backgrounds/bg-2.jpg');
}

.hero-logo {
    display: flex;
    width: 90%;
    height: fit-content;

    max-width: 500px; //desktop
}

.hero-button {
    font-size: 20px;
    font-family: styles.$brand-font;
    font-weight: 800;
}

.text-content {
    max-width: 70%; //desktop
    text-align: center;
}

.footer-button {
    width: fit-content;
    padding: 16px 20px;
    cursor: pointer;
    background-color: styles.$secondary-color;
    user-select: none;
    img {
        height: 16px;
    }
}
