<nav class="sticky-top">
    <section class="left-section">
        <div class="hf-nav-item active">
            Home
        </div>
        <div class="hf-nav-item">
            Gallery
        </div>
        <div class="hf-nav-item">
            Events
        </div>
    </section>
    <section class="center-section">
        <div class="hf-nav-item hf-nav-logo">
            <img ngSrc="assets/images/logos/regiment-logo-75.png" alt="Menu" class="menu-icon" height="50" width="50">
        </div>
    </section>
    <section class="right-section">
        <div class="hf-nav-item txt-accent">
        </div>
        <div class="hf-nav-item txt-accent">
            Join Now
        </div>
        <div class="hf-nav-item">
            Login
        </div>
    </section>
</nav>
