<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Screenshot Title</mat-card-title>
        <mat-card-subtitle class="mb-3">Optional Description on the image.
        </mat-card-subtitle>
    </mat-card-header>
    <!--  TODO: replace the image  -->
    <img mat-card-image class="banner" src="assets/images/placeholders/placeholder_banner.png" alt="Photo of a Shiba Inu">
    <mat-card-actions class="p-3">
        <button mat-stroked-button>1 Like</button>
        <span class="ms-auto" style="font-size: 12px;">40 minutes ago</span>
    </mat-card-actions>
</mat-card>
