<mat-nav-list>
    <a href="#" mat-list-item (click)="close()" [activated]="true">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>

    <a href="#" mat-list-item (click)="close()">
        <mat-icon matListItemIcon>photo_library</mat-icon>
        <span matListItemTitle>Gallery</span>
    </a>

    <a href="#" mat-list-item (click)="close()">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Events</span>
    </a>

    <mat-divider class="mx-2 my-2"></mat-divider>

    <a href="#" mat-list-item (click)="close()">
        <mat-icon matListItemIcon class="txt-accent">add</mat-icon>
        <span matListItemTitle class="txt-accent">Join Now</span>
    </a>

    <mat-divider class="mx-2 my-2"></mat-divider>

    <a href="#" mat-list-item (click)="close()">
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Login</span>
    </a>


</mat-nav-list>
