<mat-nav-list>
    <a
        mat-list-item
        (click)="close()"
        [routerLink]="['']"
        [routerLinkActive]="'mdc-list-item--activated'"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>

    <a
        mat-list-item
        (click)="close()"
        [routerLink]="['/gallery']"
        [routerLinkActive]="'mdc-list-item--activated'"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>photo_library</mat-icon>
        <span matListItemTitle>Gallery</span>
    </a>

    <a
        mat-list-item
        (click)="close()"
        [routerLink]="['/events']"
        [routerLinkActive]="'mdc-list-item--activated'"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Events</span>
    </a>

    <mat-divider class="mx-2 my-2"></mat-divider>

    <a
        mat-list-item
        (click)="close()"
        [routerLink]="['/join']"
        [routerLinkActive]="'mdc-list-item--activated'"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon class="txt-accent">add</mat-icon>
        <span matListItemTitle class="txt-accent">Join Now</span>
    </a>

    <mat-divider class="mx-2 my-2"></mat-divider>

    <a
        mat-list-item
        (click)="close()"
        [routerLink]="['/login']"
        [routerLinkActive]="'mdc-list-item--activated'"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Login</span>
    </a>


</mat-nav-list>
