// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'styles/theme-colors' as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();


html {
    @include mat.theme((
        color: (
            theme-type: dark, // switch to dark if needed
            primary: $primary-palette,
            tertiary: $tertiary-palette
        ),
        typography: Roboto,
        density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: mat.m2-get-color-from-palette($tertiary-palette, 10);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
