<mat-card appearance="outlined" style="background-color: #00000050;min-width: 300px;">
    <mat-card-content>
        <b>Preferred Servers:</b>
        <div class="d-flex flex-column">
            <div class="d-flex">
                <app-icon [src]="'ic-flag-usa'"></app-icon>
                <span class="ms-2">NA24</span>
            </div>
            <div class="d-flex">
                <app-icon [src]="'ic-flag-eu'"></app-icon>
                <span class="ms-2">EU24 </span>
            </div>
            <div class="d-flex">
                <app-icon [src]="'ic-flag-aus'"></app-icon>
                <span class="ms-2">AUS39 </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
